<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <h1>QR code generator</h1>
      <hr />
      <form class="form" action="/" method="get">
        <label for="text">Enter text/link to generate QR</label>
        <div>
          <textarea
            id="textInput"
            name="text"
            value=""
            placeholder="Hello World!"
          ></textarea>
        </div>

        <button id="generateButton" disabled title="Generate" type="submit">
          Generate
        </button>
      </form>
      <% if (qrDataURL) { %>
      <img id="qrImage" src="<%= qrDataURL %>" alt="QrCode" />
      <% } %>
    </main>
    <script src="/js/index.js"></script>
  </body>
</html>
